@import "../_includes/_colors";
@import "../_includes/_mixins";
@import "../_includes/_sizes";

#footer {
  width: 100%;
}

.footer-top {
  width: 100%;

  .overlay-section {
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
  }
}

.footer-top-inner {
  width: 100%;

  & > h2 {
    color: @almost-white;
  }

  & > p {
    color: @almost-white;
    font-size: @text-size;
    font-weight: 400;
    line-height: 30px;
  }
}

.contact {
  margin-top: 50px;
  width: 100%;

  .personal-information {
    width: 100%;

    > h3 {
      margin-top: 0;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      color: @accent-color;
    }

    ul li {
      color: @almost-white;
      border-bottom: 1px solid #eeeeee;
      font-size: @text-size;
      margin-bottom: 12px;
      padding-bottom: 12px;

      > span {
        display: inline-block;
        width: 100px;
      }
    }
  }

  .external-links {
    padding-left: 5%;

    @media (max-width: 600px) {
      padding-left: 20px;
      margin-top: 30px;
    }

    .external-url-container {
      padding-left: 20px;
      margin-bottom: 20px;

      @media (max-width: 600px) {
        padding-left: 0;
      }

      img {
        width: 36px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        filter: invert(100%);
      }

      a {
        font-size: 18px;
        color: @almost-white;
        display: inline-block;
        vertical-align: middle;

        &:hover {
          color: @accent-color;
        }
      }
    }
  }
}


.contact-form {
  background: @almost-white none repeat scroll 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 20px;
  width: 100%;
}


.contact-form .input-label {
  font-size: 15px;
  left: 0;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea.materialize-textarea {
  color: @almost-black;
  border-color: #ccc;
}

input.touched:required:invalid,
input.touched:focus:invalid,
textarea.materialize-textarea.touched:required:invalid,
textarea.materialize-textarea.touched:focus:invalid {
  border-bottom: 1px solid @error;
  box-shadow: 0 1px 0 0 @error;

  + label {
    color: @error;
  }
}


.textarea-input textarea {
  min-height: 116px;
}

.submit-btn {
  transition: all 0.3s;
}

.submit-btn:hover,
.submit-btn:focus {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: @almost-white;
}


.contact-map {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  height: 500px;
  display: inline;
  float: left;
  width: 100%;
}


.contact-map iframe {
  border-radius: 4px;
  margin-bottom: -5px;
}


.footer-bottom {
  background-color: @almost-white;
  display: inline;
  float: left;
  width: 100%;
}


.footer-inner {
  display: inline;
  float: left;
  padding-top: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}


.design-info {
  color: #555;
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  margin-top: 20px;
}


.design-info a {
  color: #555;
}


.copyright-info {
  color: #555;
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 25px;
}


.up-btn {
  background-color: @almost-white;
  color: @almost-black;
  position: fixed;
  right: 32px;
  bottom: 32px;
  transition: all 0.3s ease;

  &.hidden {
    opacity: 0;
    cursor: default;
  }

  i {
    color: @almost-black;
  }

  &:hover {
    color: @almost-white;

    i {
      color: inherit;
    }
  }
}
