doctype html
html(lang='fr')
  include _pug-includes/head

  body

    // PRELOADER
    include _pug-includes/preloader

    // HEADER
    include _pug-includes/project-header

    // MAIN WRAPPER
    .main-wrapper
      main(role='main')

        - const bannerTitle = 'Carto-ENM';
        - const bannerYear = '2016 – 2017 (8 mois)';
        - const bannerCat = 'Web';
        - const bannerRoles = ['Stack WAMP (Windows, Apache Server, MySQL, PHP)', 'VB/VBA', 'Python'];
        // BANNER
        include _pug-includes/banner

        section#article
          .container
            .row
              .col
                h2 Présentation
                img.materialboxed.responsive-img.illus.right(src='/images/portfolio/web/cartoenm/home.png')
                p.
                  Carto-ENM est une application web réalisée dans le cadre d'un job étudiant à l'UTC en binôme
                  avec Raphaël Debray et sous la direction d'Hamid Le Fleurier. L'application propose une
                  cartographie des articles de lois liés à la gestion des successions dans les différents pays
                  signataires du Règlement. L'ENM est le commanditaire de la plateforme, destinée à être utilisée
                  par un large public (notamment les étudiants).

            .row
              .col
                h2 Concept
                img.materialboxed.responsive-img.illus.right(src='/images/portfolio/web/cartoenm/main.png')
                p.
                  La gestion des successions dans le Règlement repose sur bon nombre de textes de lois, qu'il est difficile
                  de comparer ou d'avoir accès de manière facile et centralisée. Le projet Carto-ENM vise à simplifier
                  la vision de ces derniers en offrant une cartographie par pays signataire du règlement.
                p.
                  L'interface propose ainsi de sélectionner le pays puis de filtrer les types de textes désirés
                  (fond, procédure, autorité). Les résultats sont ensuite chargés depuis la base de données
                  sous forme de liste ordonnée les différentes phases de succession légales. L'utilisateur peut
                  alors être redirigé vers les articles sources des résultats de sa recherche.

            .row
              .col
                h2 Rôle & responsabilités
                p.
                  J'ai principalement assumé le rôle de développeur backend sur ce projet, sous plusieurs aspects :
                  #[span.it pipeline] d'alimentation de la BDD, programmation plateforme et mise en place de la zone
                  admin. Toutefois, j'ai également assumé un rôle de coordinateur technique sur le projet, afin
                  d'avancer en phase avec les participants externes au projet (docteure alimentant les textes de lois
                  pour la BDD, traducteurs&hellip;).

            .row
              .col
                h3 Alimentation BDD
                p.
                  J'ai élaboré un #[span.it pipeline] d'alimentation de la BDD selon les entrées xls que nous
                  recevions. J'ai donc conçu des macros en VB/VBA afin de formatter/standardiser correctement
                  les données d'entrée de chaque pays. Ensuite, j'ai réalisé des scripts VB/VBA & Python afin
                  de générer des CSV au format dédié à l'architecture de la BDD. Enfin, j'ai écrit des scripts
                  d'insertion #[span.it bulk] SQL des données CSV pour alimenter la BDD correctement. Le site
                  étant disponible en plusieurs langues, j'ai également adapté le #[span.it pipeline] afin de
                  gérer les données traduites jusqu'à leur insertion en BDD.

            .row
              .col
                h3 Programmation plateforme
                p.
                  J'ai programmé la logique centrale de la plateforme permettant de traiter la requête d'un
                  utilisateur. Lorsque ce dernier lance une recherche, le serveur récupère depuis la BDD
                  les données adéquates traduites correspondant à cette dernière, puis les ordonne selon
                  une architecture arborescente avant de les renvoyer à l'utilisateur.

            .row
              .col
                h3 Zone admin
                p.
                  Enfin, j'ai développé une interface administrateur permettant de modifier l'url d'un texte de loi,
                  d'ajouter un admin à la plateforme ainsi que de modifier son mot de passe.

            .row
              .col
                h2 Crédits
                ul.no-bullets
                  li #[strong.medium Raphaël DEBRAY] : frontend developper
                  li #[strong.medium Hamid LE FLEURIER] : coordinateur projet
                  li #[strong.medium Baptiste PERRAUD] : coordinateur technique, backend developper

            .row
              .col
                h2 Liens utiles
                ul
                  li
                    | La plateforme est actuellement disponible
                    |
                    a(href='https://ics.utc.fr/cartoenm/', target='_blank') ici
                    | .

        // FOOTER SECTION
        include _pug-includes/footer-simple

    // SCRIPTS INCLUDES
    include _pug-includes/scripts
