doctype html
html(lang='fr')
  include _pug-includes/head

  body

    // PRELOADER
    include _pug-includes/preloader

    // HEADER
    include _pug-includes/project-header

    // MAIN WRAPPER
    .main-wrapper
      main(role='main')

        - const bannerTitle = 'ChatTree';
        - const bannerYear = '2017 (9 mois)';
        - const bannerCat = 'Web';
        - const bannerRoles = ['Stack MEAN (MongoDB, Express.js, Angular 2+, Node.js)', 'Android', 'Java'];
        // BANNER
        include _pug-includes/banner

        section#article
          .container
            .row
              .col
                h2 Présentation
                .video-wrapper.illus.right
                  .video-container
                    iframe(width='560', height='315', src='https://www.youtube.com/embed/gTLoVibgaBY?rel=0',
                    frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen)
                p.
                  ChatTree est une application prototypée en web et Android
                  de messagerie instantannée permettant de créer et de gérer
                  des #[strong conversations arborescentes]. Il s'agit d'un
                  projet étudiant réalisé dans le cadre de deux cours à l'UTC
                  en équipe de 5 étudiants, que j'ai ensuite repris avec une
                  équipe de 4 étudiants à l'Université de Sherbrooke.

            .row
              .col
                h2 Concept
                img.materialboxed.responsive-img.illus.right(src='/images/portfolio/web/chattree/creation_thread.png')
                p.
                  C'est suite à une prise de recul sur nos pratiques quotidiennes de messagerie instantanée et sur
                  la frustration qui en découle parfois que le concept de ChatTree est né. La linéarité verticale
                  des messageries instantanées classiques se révèle vite inefficace en cas de conversations de groupe,
                  et en particulier celles dédiées à l'organisation d'un événement, à la gestion d'un projet,
                  ou même à de simples conversations entre amis.

            .row
              .col
                img.materialboxed.responsive-img.illus.right(src='/images/portfolio/web/chattree/discussion_thread.png')
                p.
                  ChatTree cherche à travers "l'arbre à threads" de briser la linéarité verticale en apportant
                  la possibilité de structurer une conversation en multiples sous-fils de conversation. Chacun de ces
                  threads est paramétrable du point de vue des notifications, nommable, tagable pour faciliter
                  l'identification de leurs contenus. ChatTree offre une vue de chaque conversation sous forme d'arbre
                  à threads qui en apporte un aperçu global clair et concis.

            .row
              .col
                h2 Application Android
                .video-wrapper.illus.right
                  .video-container
                    iframe(width='560', height='315', src='https://www.youtube.com/embed/EObvNMn0vMM?rel=0',
                    frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                p.
                  Après avoir travaillé sur ce projet à l'UTC, j'ai eu envie de le poursuivre dans le cadre
                  de deux autres cours pendant mon semestre d'études à l'Université de Sherbrooke (Québec). Mon
                  envie était d'avoir l'opportunité de confirmer notre intuition que le concept avait une réelle
                  valeur, en se basant sur une nouvelle série de #[span.it playtests] après avoir affiné le projet.
                  J'ai donc monté une nouvelle équipe de 4 étudiants et ensemble, nous avons finalement
                  décidé de prototyper une version Android de l'application, pour obtenir des #[span.it playtests]
                  pertinents sur un usage mobile des messageries instantanées, et donc sur la proposition de
                  concept de ChatTree.

            .row
              .col
                h2 Rôle & responsabilités
                img.materialboxed.responsive-img.illus(src='/images/portfolio/web/chattree/architecture.png')
                p.
                  Dans le cadre du projet UTC, j'ai participé avec le reste de l'équipe à l'élaboration du concept,
                  notamment en produisant des maquettes et #[span.it storyboards] de cas d'usage de ChatTree.
                  J'ai par ailleurs réalisé des entretiens utilisateur dans la phase de définition du projet, et des
                  tests utilisateur avec sondages en fin de projet pour déterminer les forces et faiblesses
                  du prototype web et par extension du projet ChatTree. En programmation, j'ai œuvré à la fois
                  sur l'architecture serveur (système multi-agents, BDD), l'application cliente et la communication
                  entre les deux #[span.it via] websockets en tant que fullstack développeur.

            .row
              .col
                img.materialboxed.responsive-img.illus.right(src='/images/portfolio/web/chattree/gantt.jpg')
                p.
                  Une fois à l'Université de Sherbrooke, j'ai repris ChatTree en tant que chef projet, afin de
                  m'assurer que l'application conserve son identité et son originalité, indépendamment de ses
                  mutations techniques ou visuelles. J'ai donc planifié le travail de l'équipe, ordonné les
                  tâches et leur priorité et produit les documents de cadrage projet nécessaires à la production
                  d'un nouveau prototype en quelques mois de travail. Enfin, j'ai aussi participé activement
                  à la programmation Android de l'application, en particulier la migration des fonctionnalités
                  #[span.it core] de ChatTree.

            .row
              .col
                h2 Crédits

                h3 Équipe UTC
                ul.no-bullets
                  li #[strong.medium  Fabien BOUCAUD] : backend developper
                  li #[strong.medium  Agathe GUILLEMOT] : frontend developper, ui designer
                  li #[strong.medium  Camille LEGERON] : backend developper
                  li #[strong.medium  Mathilde LONGUET] : backend developper
                  li #[strong.medium  Baptiste PERRAUD] : fullstack developper

                h3 Équipe Sherbrooke
                ul.no-bullets
                  li #[strong.medium  Augustin DE CHAMPS] : data programmer
                  li #[strong.medium  Steve DIAS] : frontend developper
                  li #[strong.medium  Désir PEMBELE] : frontend developper
                  li #[strong.medium  Baptiste PERRAUD] : fullstack developper

        // FOOTER SECTION
        include _pug-includes/footer-simple

    // SCRIPTS INCLUDES
    include _pug-includes/scripts
