doctype html
html(lang='fr')
  include _pug-includes/head

  body

    // PRELOADER
    include _pug-includes/preloader

    // HEADER
    include _pug-includes/project-header

    // MAIN WRAPPER
    .main-wrapper
      main(role='main')

        - const bannerTitle = 'Dynamo';
        - const bannerYear = '2018 (72h)';
        - const bannerCat = 'Jeux vidéo';
        - const bannerRoles = ['Level Designer', 'Sound Designer/Composer', 'Programmer'];
        // BANNER
        include _pug-includes/banner

        section#article
          .container
            .row
              .col
                h2 Présentation
                .video-wrapper.illus.right
                  .video-container
                    iframe(width='560', height='315', src='https://www.youtube.com/embed/rxKF9MgrZcI?rel=0',
                    frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                p.
                  Dynamo est un jeu vidéo de type #[span.bold platformer 2D]
                  réalisé en 2018 sous Unity dans le cadre du séminaire "#[span.it game jam]"
                  au sein du mastère IDE à GOBELINS, l'école de l'image.
                  Le but du projet était de concevoir une expérience interactive
                  en 72h dans le thème #[span.it Black and White]. Nous avons
                  choisi de réaliser un jeu basé sur la peur du noir.

            .row
              .col
                h2 Concept
                img.materialboxed.responsive-img.illus.right(src="/images/portfolio/games/dynamo/1.png")
                p.
                  Dynamo est un jeu inspiré de la peur enfantine d'être plongé(e)
                  dans l'obscurité. Nous voulions traduire le sentiment d'urgence
                  que ressent un enfant une fois la lumière éteinte à courir
                  retrouver la sécurité de sa chambre.

            .row
              .col
                img.materialboxed.responsive-img.illus.right(src="/images/portfolio/games/dynamo/2.png")
                p.
                  Ainsi, le joueur incarne Dynamo, un petit personnage plongé
                  dans un environnement inquiétant &ndash; et surtout dans l'obscurité.
                  Ce dernier est obligé de lancer l'orbe lumineuse accrochée à
                  son bonnet de nuit pour éclairer son chemin ; néanmoins, il
                  doit retourner la chercher au plus vite sous peine d'être à
                  nouveau plongé dans l'obscurité totale.

            .row
              .col
                h2 Rôle & responsabilités
                img.materialboxed.responsive-img.illus(src="/images/portfolio/games/dynamo/3.png")
                p.
                  Le #[span.it game design] du projet s'est fait à quatre, compte
                  tenu du peu de temps dont nous disposions. J'ai cependant assumé
                  deux autres rôles dans ce projet : le #[span.it level design]
                  et le #[span.it sound design].

            .row
              .col
                h3 Level design
                img.materialboxed.responsive-img.illus(src="/images/portfolio/games/dynamo/LD.png")
                p.
                  J'ai travaillé sur le #[span.it level design] du jeu. Nous
                  voulions proposer un niveau qui suive une courbe de difficulté
                  et d'apprentissage progressive chez le joueur. Plusieurs
                  obstacles étaient prévus, mais seuls sont qui étaient les plus
                  "simples" ont été intégrés au niveau. Ce dernier contient
                  également des pentes et une verticalité pensées pour offrir
                  des interactions intéressantes avec la physique de l'orbe.

            .row
              .col
                h3 Sound design
                img.materialboxed.responsive-img.illus(src="/images/portfolio/games/dynamo/4.png")
                p.
                  J'ai composé la musique adaptative de Dynamo à l'aide d'Ableton.
                  L'idée était de proposer une boucle simple mais comportant
                  suffisamment de pistes différentes pour pouvoir jouer sur des
                  variations de volume entre ces dernières (ambiance effrayante).
                  Les bruitages ont eux été récupérés depuis des banques de son
                  gratuites, puis intégrés après correction (normalisation, etc.).

            .row
              .col
                h3 Intégration
                img.materialboxed.responsive-img.illus.right(src="/images/portfolio/games/dynamo/Audio.png")
                p.
                  Je me suis servi des outils de mixage natifs sous Unity pour
                  mixer en temps réel les pistes et les effets sonores. Par
                  exemple, des effets de volume et de pitch transforment la
                  musique vers un ton d'autant plus angoissant que Dynamo est
                  resté plongé dans l'obscurité trop longtemps.

            .row
              .col
                h2 Crédits
                ul.no-bullets
                  li #[strong.medium Camille DURIF] : light artist, programmation
                  li #[strong.medium Mathilde MIOSSEC] : character design, direction artistique
                  li #[strong.medium Benjamin MORELLE] : programmation
                  li #[strong.medium Baptiste PERRAUD] : level design, composition, sound design

            .row
              .col
                h2 Liens utiles
                ul
                  li
                    | Le jeu est disponible en ligne sur
                    |
                    a(href='https://alabamaben.itch.io/dynamo', target='_blank') itch.io
                    | .

        // FOOTER SECTION
        include _pug-includes/footer-simple

    // SCRIPTS INCLUDES
    include _pug-includes/scripts
