doctype html
html(lang='fr')
  include _pug-includes/head

  body

    // PRELOADER
    include _pug-includes/preloader

    // HEADER
    include _pug-includes/project-header

    // MAIN WRAPPER
    .main-wrapper
      main(role='main')

        - const bannerTitle = 'The Exhibition';
        - const bannerYear = '2019 (72h)';
        - const bannerCat = 'Jeux vidéo';
        - const bannerRoles = ['Programmer', 'Game Designer'];
        // BANNER
        include _pug-includes/banner

        section#article
          .container
            .row
              .col
                h2 Présentation
                img.materialboxed.responsive-img.illus.right(src="/images/portfolio/games/exhibition/menu.png")
                p.
                  The Exhibition est un jeu vidéo réalisé en 2019 sous Unity
                  au cours de la Digital Art Jam #3 organisée au centre Pompidou.
                  Le but du projet était de concevoir une expérience interactive
                  en 48h en s'inspirant de deux expositions temporaires du centre,
                  l'une sur la fabrique du vivant (biotechnologies), l'autre
                  dédiée à l'artiste brésilienne Erika Verzutti. Notre groupe a
                  alors choisi de réaliser un jeu d'infiltration dans un musée.

            .row
              .col
                h2 Concept
                img.materialboxed.responsive-img.illus.right(src="/images/portfolio/games/exhibition/game.png")
                p.
                  The Exhibition est un jeu parti d'un constat : nous avons vu
                  au cours des différentes expositions des œuvres ou créations
                  autour du vivant, notamment dans son organisation en éco-systèmes
                  régis selon des logiques propres. Néanmoins, on pouvait appliquer
                  le même raisonnement au centre Pompidou lui-même, et par une
                  mise en abyme, considérer que les visiteurs et guides font eux-mêmes
                  partie d'un écosystème unique (ce que l'architecture du centre
                  exprime notamment dans sa gestion des "flux").

                p.
                  Le joueur incarne donc un journaliste ayant perdu sa carte
                  membre et devant donc s'infiltrer sur les lieux pour réaliser
                  un article sur les différentes expositions. Pour ce faire,
                  il doit avoir collecté un maximum de mots à la fin de la journée
                  sans s'être fait repéré par les guides et/ou visiteurs en
                  évitant de rester trop longtemps dans leur champ de vision.

            .row
              .col
                h2 Rôle & responsabilités
                p.
                  Nous avons réalisé le #[span.it game design] du projet tous
                  ensemble, n'ayant que 48h pour le réaliser. J'ai de mon côté
                  assuré deux rôles dans ce projet : la programmation #[span.it gameplay]
                  et l'intégration du #[span.it sound design].

            .row
              .col
                h3 Programmation gameplay
                img.materialboxed.responsive-img.illus(src="/images/portfolio/games/exhibition/unity.png")
                p.
                  J'ai programmé les logiques de #[span.it gameplay] propres au
                  concept d'infiltration que nous souhaitions. Tout d'abord, il
                  s'agissait de gérer l'état d'alarme basé sur la présence ou
                  non du joueur dans le champ de vision conique des guides et
                  des visiteurs. Ensuite, je me suis occupé du système de collecte
                  des mots, dès que le joueur reste suffisamment longtemps
                  à côté d'un guide en train de parler.

            .row
              .col
                h3 Intégration Sound design
                p.
                  Benjamin s'est occupé de créer l'ensemble du #[span.it sound design]
                  du jeu. Il a fallu ensuite l'intégrer au jeu, tâche complexe
                  en raison de l'intégration de l'ensemble des éléments du jeu
                  qui s'est faite tardivement. J'ai assisté Benjamin dans Unity
                  pour lier les événements, états et paramètres aux différents
                  sons qu'il avait créés sous Wwise de son côté.

            .row
              .col
                h2 Crédits
                ul.no-bullets
                  li #[strong.medium Romain DANNIN] : game design, level design
                  li #[strong.medium Benjamin DARMON] : sound design
                  li #[strong.medium Sébastien GAUMIN] : programmeur IA
                  li #[strong.medium Hyunah JUNG] : direction artistique
                  li #[strong.medium Baptiste PERRAUD] : programmeur gameplay

            // TODO
            //.row
            //  .col
            //    h2 Liens utiles
            //    ul
            //      li
            //        | Le jeu est disponible en ligne sur
            //        |
            //        a(href='https://alabamaben.itch.io/dynamo', target='_blank') itch.io
            //        | .

        // FOOTER SECTION
        include _pug-includes/footer-simple

    // SCRIPTS INCLUDES
    include _pug-includes/scripts
