doctype html
html(lang='fr')
  include _pug-includes/head

  body

    // PRELOADER
    include _pug-includes/preloader

    // HEADER SECTION
    include _pug-includes/header

    // MAIN WRAPPER
    div(class='main-wrapper')
      main(role='main')

        // HOME SECTION
        include _pug-includes/home-section

        // ABOUT SECTION
        include _pug-includes/about-section

        // START RESUME
        section(id='resume')
          // SKILL SECTION
          include _pug-includes/resume/skill

          // EXPERIENCE SECTION
          include _pug-includes/resume/experience

          // EXPERIENCE SECTION
          include _pug-includes/resume/education

        // PORTFOLIO SECTION
        include _pug-includes/portfolio

        // FACTS SECTION
          include _pug-includes/facts

        // TESTIMONIAL SECTION
          include _pug-includes/testimonial

        // BLOG SECTION
          include _pug-includes/blog

        // FOOTER SECTION
        include _pug-includes/footer

    // SCRIPTS INCLUDES
    include _pug-includes/scripts
