doctype html
html(lang='fr')
  include _pug-includes/head

  body

    // PRELOADER
    include _pug-includes/preloader

    // HEADER
    include _pug-includes/project-header

    // MAIN WRAPPER
    .main-wrapper
      main(role='main')

        - const bannerTitle = 'Music Helper';
        - const bannerYear = '2019 (1 mois)';
        - const bannerCat = 'Autres (artistic tool, experimental)';
        - const bannerRoles = ['Designer, Programmer'];
        // BANNER
        include _pug-includes/banner

        section#article
          .container
            .row
              .col
                h2 Présentation
                img.materialboxed.responsive-img.illus.right(src="/images/portfolio/other/musichelper/musichelper1.png")
                p.
                  Music Helper est un #[span.bold outil expérimental] réalisé en 2019
                  sous Unity dans le cadre des cours de scripting avancés reçus
                  au sein du mastère IDE à GOBELINS, l’école de l’image.
                  Pour ce projet, la contrainte était de réaliser une expérience mobilisant soit
                  des techniques de shader personalisés, soit des techniques de génération procédurale
                  (visuelle ou sonore). J’ai décidé de mobiliser la génération procédurale sonore pour
                  concevoir un outil d’aide à la composition musicale.

            .row
              .col
                h2 Concept
                img.materialboxed.responsive-img.illus.right(src="/images/portfolio/other/musichelper/bach.jpg")
                p.
                  J’ai conçu Music Helper comme une aide décalée pour trouver des bouts de mélodie dans
                  un processus de création musicale, par une approche procédurale. Les mélodies générées
                  utilisent des sons type 8bit sous une interface rétro et des couleurs bien saturées. J’ai
                  été largement inspiré par le Google Doodle sur J.S. Bach qui utilise du machine-learning
                  pour générer procéduralement une harmonisation à n’importe quel bout de mélodie selon le
                  style du célèbre compositeur.

            .row
              .col
                h2 Rôle & responsabilités
                p.
                  Music Helper est un projet individuel, j’ai donc entièrement designé et développé le projet sous
                  Unity.

            .row
              .col
                h2 Liens utiles
                ul
                  li
                    | Le Google Doodle sur J.S. Bach est disponible à cette
                    |
                    a(href='https://g.co/doodle/mq5877', target='_blank') adresse
                    | .
                  li
                    | L’outil est disponible en ligne sur
                    |
                    a(href='https://pyriceti.itch.io/musichelper', target='_blank') itch.io
                    | .

        // FOOTER SECTION
        include _pug-includes/footer-simple

    // SCRIPTS INCLUDES
    include _pug-includes/scripts
