section#home.err404
  .overlay-section
    .container
      .row
        .col.s12
          .home-inner
            h1.home-title Oups ! Cette page n’existe pas…
            p.
              Tu peux retourner à l’accueil #[a.accent-light(href='/') ici].
