section#about
  .container
    .row
      .col.s12
        .about-inner
          .row
            .col.s12.m4.l3
              .about-inner-left
                img.profile-img(src='images/profile-img.jpg', alt='Profile Image')

                .contact-url-container
                  img(src='/images/logos/github.svg', alt='github logo')
                  a(href='https://github.com/bperraud') github.com/bperraud
                .contact-url-container
                  img(src='/images/logos/itchio.svg', alt='itchio logo')
                  a(href='https://pyriceti.itch.io/') pyriceti.itch.io

            .col.s12.m8.l9
              .about-inner-right
                blockquote.main-quote
                  p “Nous avons beau être intelligents, encore faut-il qu’on sache faire preuve d’intelligence.”
                  cite Gershom Scholem

                h3 Qui suis-je ?
                p.
                  Ingénieur généraliste de formation, je me suis spécialisé dans
                  les applications et interfaces web avec un fort intérêt pour
                  les questions d'interaction, d'ergonomie et plus généralement
                  d'expérience utilisateur (#[span.it UX design]).#[<br>]
                  Je me passionne aujourd'hui en #[span.it game design] portant sur la
                  pédagogie et l'éducation, porté par la question suivante&nbsp;:
                blockquote
                  p.
                    “Comment concevoir un bon jeu-vidéo (#[span.it i.e.] #[em fun])
                    à forte valeur pédagogique ?”

                .resume-download.col.s12.m12.l6
                  a.btn-large.resume-btn(href='/files/CV.pdf', download)
                    i.material-icons.left archive
                    | Télécharger mon CV
