section#about
  div(class='container')
    div(class='row')
      div(class='col s12')
        div(class='about-inner')
          div(class='row')
            div(class='col s12 m4 l3')
              div(class='about-inner-left')
                img(class='profile-img', src='images/profile-img1.jpg', alt='Profile Image')
            div(class='col s12 m8 l9')
              div(class='about-inner-right')
                h3 Qui suis-je ?
                p.
                  Ingénieur généraliste de formation, je me suis spécialisé dans
                  les applications et interfaces web avec un fort intérêt pour
                  les questions d'interaction, d'ergonomie et plus généralement
                  d'expérience utilisateur (UX design).
                  Je me passionne aujourd'hui en game design portant sur la
                  pédogogie et l'éducation, porté par la question suivante :
                  "Comment concevoir un bon jeu-vidéo (#[span.it i.e.] #[em fun])
                  à forte valeur pédagogique ?"
                div(class='personal-information col s12 m12 l6')
                  h3 Informations personnelles
                  ul
                    li
                      span Nom :
                      | Baptiste Perraud
                    li
                      span Âge :
                      | 23 ans
                    li
                      span Tél. :
                      | +33 6 25 13 67 96
                    li
                      span Email :
                      | pyriceti@pm.me
                    li
                      span Adresse :
                      | Région parisienne, France
                div(class='resume-download col s12 m12 l6')
                  a(href='files/CV.pdf', class='waves-effect waves-light btn-large resume-btn', download)
                    i(class='mdi-content-archive left')
                    | Télécharger mon CV
