section#banner
  .overlay-section
    .container
      h1.header-title #{bannerTitle}
      .meta-media
        .single-meta.
          Date de réalisation : #{bannerYear}
        .single-meta.
          Catégorie : #{bannerCat}
        .single-meta.
          Rôles : #{bannerRoles.join(', ')}
