section#blog
  .container
    .row
      .col.s12
        .blog-inner
          h2.title Blog
          p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
            | opposed to using 'Content here, content here.It is a long established fact that a reader will be
            | distracted by the readable content of a page when looking at its layout. The point of using Lorem
            | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
            | here, content here', making it look like readable English.

          // Start Blog area
          .blog-area
            .row
              // Start single blog post
              div(class='col s12 m4 l4')
                .blog-post
                  .card
                    .card-image
                      img(src='images/blog1.jpg')
                    div(class='card-content blog-post-content')
                      h2
                        a(href='blog-single.html') Awesome Post Title
                      .meta-media
                        .single-meta
                          | Post By
                          |
                          a(href='#') Admin
                        .single-meta
                          | Category :
                          |
                          a(href='#') Web/Design

                      p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                        | letters, as opposed to using 'Content here, content here.
                    .card-action
                      a(class='post-comment' href='#')
                        i.material-icons comment
                        span 15
                      a(class='readmore-btn' href='blog-single.html') Read More
              // Start single blog post
              div(class='col s12 m4 l4')
                .blog-post
                  .card
                    .card-image
                      img(src='images/blog1.jpg')
                    div(class='card-content blog-post-content')
                      h2
                        a(href='blog-single.html') Awesome Post Title
                      .meta-media
                        .single-meta
                          | Post By
                          |
                          a(href='#') Admin
                        .single-meta
                          | Category :
                          |
                          a(href='#') Web/Design

                      p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                        | letters, as opposed to using 'Content here, content here.
                    .card-action
                      a(class='post-comment' href='#')
                        i.material-icons comment
                        span 15
                      a(class='readmore-btn' href='blog-single.html') Read More
              // Start single blog post
              div(class='col s12 m4 l4')
                .blog-post
                  .card
                    .card-image
                      img(src='images/blog1.jpg')
                    div(class='card-content blog-post-content')
                      h2
                        a(href='blog-single.html') Awesome Post Title
                      .meta-media
                        .single-meta
                          | Post By
                          |
                          a(href='#') Admin
                        .single-meta
                          | Category :
                          |
                          a(href='#') Web/Design

                      p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                        | letters, as opposed to using 'Content here, content here.
                    .card-action
                      a(class='post-comment' href='#')
                        i.material-icons comment
                        span 15
                      a(class='readmore-btn' href='blog-single.html') Read More

            // All Post Button
            a(class='waves-effect waves-light btn-large allpost-btn' href='blog-archive.html') All Post
