section#facts
  .facts-overlay
    .container
      .row
        .col.s12
          .facts-inner
            .row
              div(class='col s12 m4 l4')
                div(class='single-facts waves-effect waves-block waves-light')
                  i.material-icons work
                  span(class='counter') 329
                  span(class='counter-text') Project Completed

              div(class='col s12 m4 l4')
                div(class='single-facts waves-effect waves-block waves-light')
                  i.material-icons supervisor_account
                  span(class='counter') 250
                  span(class='counter-text') Happy Clients

              div(class='col s12 m4 l4')
                div(class='single-facts waves-effect waves-block waves-light')
                  i.material-icons redeem
                  span(class='counter') 69
                  span(class='counter-text') Award Won
