footer#footer(role='contentinfo')
  .footer-bottom
    .container
      .row
        .col.s12
          .footer-inner
            button.btn-floating.btn-large.up-btn
              i.material-icons keyboard_arrow_up
            p.design-info.
              © 2019 B. PERRAUD - Tous droits réservés
