footer#footer(role='contentinfo')
  // Start Footer Top
  .footer-top
    .overlay-section
      .container
        .row
          .col.s12
            .footer-top-inner
              h2.title Contact
              p.
                N'hésitez pas à me contacter pour toute question, remarque ou
                proposition pour un projet qui vous tient à cœur&nbsp;! Ou tout
                simplement pour discuter de questions métaphysiques,
                c'est également possible…
              .contact
                .row
                  .col.s12.m6.l6
                    .contact-form
                      form#contactForm
                        .input-field
                          input#contactName.input-box(type='text', name='contactName')
                          label.input-label(for='contactName') Nom
                        .input-field
                          input#contactEmail.input-box(type='email', name='contactEmail', required)
                          label.input-label(for='contactEmail') Email*
                        .input-field
                          input#contactSubject.input-box(type='text', name='contactSubject')
                          label.input-label(for='contactSubject') Sujet
                        .input-field.textarea-input
                          textarea#contactMessage.materialize-textarea(name='contactMessage', required)
                          label.input-label(for='contactMessage') Message*
                        button.btn-flat.brand-text.submit-btn(type='submit') Envoyer
                  .col.s12.m6.l6
                    .contact-map
                      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2627.4347495339125!2d2.382424115569736!3d48.81176587928298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e673ca6937cf79%3A0x5d9d0fb028dd3f78!2s1+Rue+Gabriel+P%C3%A9ri%2C+94200+Ivry-sur-Seine!5e0!3m2!1sfr!2sfr!4v1550340309284',
                      width='100%', height='100%', frameborder='0', style='border:0')
  // Start Footer Bottom
  .footer-bottom
    .container
      .row
        .col.s12
          .footer-inner
            // Bottom to Up Btn
            button.btn-floating.btn-large.up-btn
              i.material-icons keyboard_arrow_up
            p.design-info.
              © 2018 B. PERRAUD - Tous droits réservés
