header#header(role='banner')
  div(class='navbar-fixed')
    nav
      div(class='container')
        div(class='nav-wrapper')

          // LOGO

          // TEXT BASED LOGO
          //a(href='index.html', class='brand-logo') MU Material

          // Image Based Logo
          //a(href='index.html', class='brand-logo')
          //  img(src='images/logo.jpeg', alt='logo img')

          ul.right.hide-on-med-and-down.custom-nav.menu-scroll
            li
              a(href='#about') Qui suis-je
            li
              a.dropdown-button(href='#resume', data-activates='resume-dropdown') CV
            li
              a(href='#portfolio') Portfolio
            // li
              a(href='#testimonial') Recommandations
            // li
              a(href='#blog') Blog
            li
              a(href='#footer') Contact
            //li
            //  a.dropdown-button(href='#', data-activates='lang-dropdown') Langue
            //  ul#lang-dropdown.dropdown-content
            //    li
            //      a(href='/?clang=fr') fr
            //    li
            //      a(href='/?clang=en') en

          // ul#resume-dropdown.dropdown-content
            li
              a(href='/?clang=fr') fr
            li
              a(href='/?clang=en') en

          // For Mobile View
          ul#slide-out.side-nav.menu-scroll
            li
              a(href='#about') Qui suis-je
            li
              a(href='#resume') CV
            li
              a(href='#portfolio') Portfolio
            // li
              a(href='#testimonial') Recommandations
            // li
              a(href='#blog') Blog
            li
              a(href='#footer') Contact

          a(href='#', data-activates='slide-out', class='button-collapse')
            i.mdi-navigation-menu
