head
  meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
  title Baptiste Perraud - Ingénieur informatique

  link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css', rel='stylesheet', media='screen,projection')
  link(href='/stylesheets/pro-bars.css', rel='stylesheet', media='all')
  link(href='/stylesheets/owl.carousel.css', rel='stylesheet')
  link(href='/stylesheets/toastr.min.css', rel='stylesheet')
  link(href='/stylesheets/theme.css', type='text/css', rel='stylesheet', id='switcher', media='screen,projection')
  link(href='/stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(rel='icon', type='image/png', href='/favicon.png')
