section#home
  div(class='overlay-section')
    div(class='container')
      div(class='row')
        div(class='col s12')
          div(class='home-inner')
            h1(class='home-title') Hey! Moi c'est #[span Baptiste]
            p.
              Ingénieur généraliste de formation, je me passionne aujourd'hui en game design
              portant sur la pédogogie et l'éducation
            button.btn.waves-effect.waves-light.btn-large.hire-me-btn Me contacter
              i.material-icons.right send
