section#home
  div(class='overlay-section')
    div(class='container')
      div(class='row')
        div(class='col s12')
          div(class='home-inner')
            h1(class='home-title') Hey! Moi c'est #[span Baptiste]
            p.
              Ingénieur généraliste de formation, je me passionne aujourd'hui en game design
              portant sur la pédogogie et l'éducation
            a(class='hire-me-btn btn waves-effect waves-light btn-large', href='#footer') Me contacter
              i(class='mdi-content-send left')

            // Call to About Button
              button(class='btn btn-floating waves-effect waves-light btn-large white call-to-about')
                i.material-icons play_for_work
