section#home
  .overlay-section
    .container
      .row
        .col.s12
          .home-inner
            h1.home-title Hey! Moi c'est #[span Baptiste]
            p.
              Ingénieur généraliste de formation, je me passionne aujourd'hui en game design
              portant sur la pédogogie et l'éducation
            button.btn.waves-effect.waves-light.btn-large.hire-me-btn Me contacter
              i.material-icons.right send
