section#portfolio
  .portfolio-top
    .overlay-section
      .container
        .portfolio-top-inner
          h2.title Portfolio
          .controls
            button.filter.waves-effect.waves-light.btn(data-filter='all') All
            button.filter.waves-effect.waves-light.btn(data-filter='.html') HTMl
            button.filter.waves-effect.waves-light.btn(data-filter='.design') Design
            button.filter.waves-effect.waves-light.btn(data-filter='.fashion') Fashion
  .portfolio-bottom
    .container
      .portfolio-bottom-inner
        #portfolio-list
          .mix.html
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i.material-icons.view-icon pageview
              .label Fragments
          .mix.design
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i.material-icons.view-icon pageview
          .mix.html
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i.material-icons.view-icon pageview
          .mix.fashion
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i.material-icons.view-icon pageview
          .mix.design
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i.material-icons.view-icon pageview
          .mix.html
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i.material-icons.view-icon pageview
          .mix.html
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i.material-icons.view-icon pageview
          .mix.design
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i.material-icons.view-icon pageview
          .mix.fashion
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i.material-icons.view-icon pageview
