section#portfolio
  .portfolio-top
    .overlay-section
      .container
        .portfolio-top-inner
          h2.title Portfolio
          .controls
            button.filter.waves-effect.waves-light.btn(data-filter='all') Tout
            button.filter.waves-effect.waves-light.btn(data-filter='.games') Jeux vidéo
            button.filter.waves-effect.waves-light.btn(data-filter='.web') Web
            button.filter.waves-effect.waves-light.btn(data-filter='.other') Autres
  .portfolio-bottom
    .container
      .portfolio-bottom-inner
        #portfolio-list
          .mix.games
            a(href='projects/fragments')
              img(src='images/portfolio/games/fragments.jpg', alt='img')
              i.material-icons.view-icon pageview
              .label Fragments
          .mix.games
            a(href='#')
              img(src='images/portfolio/games/dynamo.jpg', alt='img')
              i.material-icons.view-icon pageview
              .label Dynamo
          .mix.other.games
            a(href='#')
              img(src='images/portfolio/other/2116.jpg', alt='img')
              i.material-icons.view-icon pageview
              .label 2116
          .mix.web
            a(href='#')
              img(src='images/portfolio/web/chattree.jpg', alt='img')
              i.material-icons.view-icon pageview
              .label ChatTree
          .mix.web
            a(href='#')
              img(src='images/portfolio/web/cartoenm.jpg', alt='img')
              i.material-icons.view-icon pageview
              .label CartoENM
          .mix.games
            a(href='#')
              img(src='images/portfolio/games/chaudron.jpg', alt='img')
              i.material-icons.view-icon pageview
              .label Chaudron magique
          .mix.games
            a(href='#')
              img(src='images/portfolio/games/ici.jpg', alt='img')
              i.material-icons.view-icon pageview
              .label IcI
