section#portfolio
  .portfolio-top
    .container
      .portfolio-top-inner
        h2.title Portfolio
        .controls
          button(class='filter waves-effect waves-light btn' data-filter='all') All
          button(class='filter waves-effect waves-light btn' data-filter='.html') HTMl
          button(class='filter waves-effect waves-light btn' data-filter='.design') Design
          button(class='filter waves-effect waves-light btn' data-filter='.fashion') Fashion
  .portfolio-bottom
    .container
      .portfolio-bottom-inner
        div(id='portfolio-list')
          div(class='mix html', data-value='2')
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i(class='material-icons view-icon') pageview
          div(class='mix design', data-value='2')
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i(class='material-icons view-icon') pageview
          div(class='mix html', data-value='2')
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i(class='material-icons view-icon') pageview
          div(class='mix fashion', data-value='2')
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i(class='material-icons view-icon') pageview
          div(class='mix design', data-value='2')
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i(class='material-icons view-icon') pageview
          div(class='mix html', data-value='2')
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i(class='material-icons view-icon') pageview
          div(class='mix html', data-value='2')
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i(class='material-icons view-icon') pageview
          div(class='mix design', data-value='2')
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i(class='material-icons view-icon') pageview
          div(class='mix fashion', data-value='2')
            a(href='#')
              img(src='images/portfolio/html/html-2.jpg', alt='img')
              i(class='material-icons view-icon') pageview
