// script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='javascripts/materialize.min.js')
script(src='javascripts/appear.min.js')
script(src='javascripts/pro-bars.min.js')
script(src='javascripts/owl.carousel.min.js')
script(src='http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js')
script(src='javascripts/jquery.counterup.min.js')
script(src='javascripts/main.js')
