section#testimonial
  div(class='container')
    div(class='row')
      div(class='col s12')
        div(class='testimonial-inner')
          h2(class='title') Testimonial
          p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
            | opposed to using 'Content here, content here.It is a long established fact that a reader will be
            | distracted by the readable content of a page when looking at its layout. The point of using Lorem
            | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
            | here, content here', making it look like readable English.
          // Start Testimonial Slider
          div(class='testimonial-slider-area')
            div(id='owl-carousel2', class='testimonial-slider row')
              div(class='col s12')
                div(class='single-testimonial')
                  div(class='testimonial-img')
                    img(src='images/profile-img.jpg', alt='img')
                  div(class='testimonial-content')
                    h3 Mike Jones
                    span CEO, Google Inc.
                    p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                      | letters, as opposed to using 'Content here, content here.It is a long established fact
                      | that a reader will be distracted by the readable content of a page when looking at its
                      | layout"
              div(class='col s12')
                div(class='single-testimonial')
                  div(class='testimonial-img')
                    img(src='images/profile-img.jpg', alt='img')
                  div(class='testimonial-content')
                    h3 Mike Jones
                    span CEO, Google Inc.
                    p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                      | letters, as opposed to using 'Content here, content here.It is a long established fact
                      | that a reader will be distracted by the readable content of a page when looking at its
                      | layout"
              div(class='col s12')
                div(class='single-testimonial')
                  div(class='testimonial-img')
                    img(src='images/profile-img.jpg', alt='img')
                  div(class='testimonial-content')
                    h3 Mike Jones
                    span CEO, Google Inc.
                    p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                      | letters, as opposed to using 'Content here, content here.It is a long established fact
                      | that a reader will be distracted by the readable content of a page when looking at its
                      | layout"
              div(class='col s12')
                div(class='single-testimonial')
                  div(class='testimonial-img')
                    img(src='images/profile-img.jpg', alt='img')
                  div(class='testimonial-content')
                    h3 Mike Jones
                    span CEO, Google Inc.
                    p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                      | letters, as opposed to using 'Content here, content here.It is a long established fact
                      | that a reader will be distracted by the readable content of a page when looking at its
                      | layout"

            div(class='customNavigation')
              a(class='btn prev2 btn-floating waves-effect waves-light btn-large white')
                i(class='mdi-navigation-chevron-left brand-text')
              a(class='btn next2 btn-floating waves-effect waves-light btn-large white')
                i(class='mdi-navigation-chevron-right brand-text')
