section#testimonial
  .container
    .row
      .col.s12
        .testimonial-inner
          h2.title Testimonial
          p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
            | opposed to using 'Content here, content here.It is a long established fact that a reader will be
            | distracted by the readable content of a page when looking at its layout. The point of using Lorem
            | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
            | here, content here', making it look like readable English.
          // Start Testimonial Slider
          .testimonial-slider-area
            div(id='owl-carousel2', class='testimonial-slider row')
              .col.s12
                .single-testimonial
                  .testimonial-img
                    img(src='images/profile-img.jpg', alt='img')
                  .testimonial-content
                    h3 Mike Jones
                    span CEO, Google Inc.
                    p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                      | letters, as opposed to using 'Content here, content here.It is a long established fact
                      | that a reader will be distracted by the readable content of a page when looking at its
                      | layout"
              .col.s12
                .single-testimonial
                  .testimonial-img
                    img(src='images/profile-img.jpg', alt='img')
                  .testimonial-content
                    h3 Mike Jones
                    span CEO, Google Inc.
                    p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                      | letters, as opposed to using 'Content here, content here.It is a long established fact
                      | that a reader will be distracted by the readable content of a page when looking at its
                      | layout"
              .col.s12
                .single-testimonial
                  .testimonial-img
                    img(src='images/profile-img.jpg', alt='img')
                  .testimonial-content
                    h3 Mike Jones
                    span CEO, Google Inc.
                    p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                      | letters, as opposed to using 'Content here, content here.It is a long established fact
                      | that a reader will be distracted by the readable content of a page when looking at its
                      | layout"
              .col.s12
                .single-testimonial
                  .testimonial-img
                    img(src='images/profile-img.jpg', alt='img')
                  .testimonial-content
                    h3 Mike Jones
                    span CEO, Google Inc.
                    p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                      | letters, as opposed to using 'Content here, content here.It is a long established fact
                      | that a reader will be distracted by the readable content of a page when looking at its
                      | layout"

            .customNavigation
              a(class='btn prev2 btn-floating waves-effect waves-light btn-large white')
                i.material-icons keyboard_arrow_left
              a(class='btn next2 btn-floating waves-effect waves-light btn-large white')
                i.material-icons keyboard_arrow_right
