@use "../../styles/mixins";
@use "../../styles/colors";



.projectContainer {
  .backToPortfolioContainer {
    .backToPortfolioBtn {
      //font-size: 1rem;
      //padding: .5rem 1rem;
      //border-radius: 0.2rem;

      &:focus {
        box-shadow: none;
      }

      //@include mixins.btn-secondary-hover-bg;
      &:hover {
        .backToPortfolioIcon path {
          fill: colors.$almost-black;
        }
      }
    }

    .backToPortfolioIcon {
      height: 0.875rem;
      //height: 1rem;
      padding: 2px 0;
      transform: scaleX(-1);
    }
  }
}

.projectHeader {
  @include mixins.bg-image;
  color: colors.$almost-white;
}

.projectOverlay {
  @include mixins.bg-overlay;
}

.projectMetadata {
  color: rgb(180, 180, 180);
  margin-bottom: 0;
}

.projectContentContainer {
  padding-top: 40px;
  padding-bottom: 40px;

  br {
    display: block;
    margin: 1rem 0;
    line-height: 1rem;
    content: " ";
  }
}

.creditItem {
  text-indent: -1rem;
  padding-left: 1rem;
}

.creditName {
  color: colors.$light-black;
}

.videoWrapper {
  position: relative;
  margin-top: .5rem;
  padding-bottom: 56.25%; // 16:9 (100 * 9 / 16), for an aspect ratio of 1:1 change to this value to 100%

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.imageWrapper {
  position: relative;
  margin-top: .5rem;
  cursor: zoom-in;
}

.audioWrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}