doctype html
html(lang='fr')
  head
    meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Baptiste Perraud - Ingénieur Fullstack web

    link(href='stylesheets/materialize.css', rel='stylesheet', media='screen,projection')
    link(href='stylesheets/font-awesome.css', rel='stylesheet')
    link(href='stylesheets/pro-bars.css', rel='stylesheet', media='all')
    link(href='stylesheets/owl.carousel.css', rel='stylesheet')
    link(href='stylesheets/dark-red-theme.css', type='text/css', rel='stylesheet', id='switcher', media='screen,projection')
    link(href='stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='icon', type='image/png', href='favicon.png')

  body

    // BEGIN PRELOADER
    div(id='preloader')
      div(class='progress')
        div(class='indeterminate')
    // END PRELOADER

    header(id='header', role='banner')
      div(class='navbar-fixed')
        nav
          div(class='container')
            div(class='nav-wrapper')

              // LOGO

              // TEXT BASED LOGO
              a(href='index.html', class='brand-logo') MU Material

              // Image Based Logo
              //a(href='index.html', class='brand-logo')
              //  img(src='images/logo.jpeg', alt='logo img')

              ul(class='right hide-on-med-and-down custom-nav menu-scroll')
                li
                  a(href='#about') Qui suis-je
                li
                  a(href='#resume') CV
                li
                  a(href='#portfolio') Portfolio
                li
                  a(href='#testimonial') Recommandations
                li
                  a(href='#blog') Blog
                li
                  a(href='#footer') Contact

              // For Mobile View
              ul(id='slide-out', class='side-nav menu-scroll')
                li
                  a(href='#about') Qui suis-je
                li
                  a(href='#resume') CV
                li
                  a(href='#portfolio') Portfolio
                li
                  a(href='#testimonial') Recommandations
                li
                  a(href='#blog') Blog
                li
                  a(href='#footer') Contact

              a(href='#', data-activates='slide-out', class='button-collapse')
                i(class='mdi-navigation-menu')


    div(class='main-wrapper')
      main(role='main')

        // START HOME SECTION
        section(id='home')
          div(class='overlay-section')
            div(class='container')
              div(class='row')
                div(class='col s12')
                  div(class='home-inner')
                    h1(class='home-title') Hey! Moi c'est
                      |
                      |
                      span Baptiste
                    p I'm a USA based UX/UI Designer creating awesome and effective visual identities for companies of
                      | all sizes around the globe
                    a(class='hire-me-btn btn waves-effect waves-light btn-large', href='#footer') Me contacter
                      i(class='mdi-content-send left')

                    // Call to About Button
                    button(class='btn btn-floating waves-effect waves-light btn-large white call-to-about')
                      i(class='material-icons') play_for_work

        // START ABOUT SECTION
        section(id='about')
          div(class='container')
            div(class='row')
              div(class='col s12')
                div(class='about-inner')
                  div(class='row')
                    div(class='col s12 m4 l3')
                      div(class='about-inner-left')
                        img(class='profile-img', src='images/profile-img1.jpg', alt='Profile Image')
                    div(class='col s12 m8 l9')
                      div(class='about-inner-right')
                        h3 Qui suis-je ?
                        p I'm a USA based UX/UI Designer creating awesome and effective visual identities for companies
                          | of all sizes around the globe.It is a long established fact that a reader will be distracted
                          | by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                          | is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                          | here, content here
                        div(class='personal-information col s12 m12 l6')
                          h3 Personal Information
                          ul
                              li
                                span Nom :
                                |
                                | Baptiste Perraud
                              li
                                span Âge :
                                |
                                | 23 ans
                              li
                                span Tél. :
                                |
                                | +33 6 25 13 67 96
                              li
                                span Email :
                                |
                                | pyriceti@pm.me
                              li
                                span Adresse :
                                |
                                | Région parisienne, France
                        div(class='resume-download col s12 m12 l6')
                          a(href='files/CV.pdf', class='waves-effect waves-light btn-large resume-btn', download)
                            i(class='mdi-content-archive left')
                            | Télécharger mon CV

        // START RESUME
        section(id='resume')
          // START SKILL
          section(id='skill')
            div(class='container')
              div(class='skill-inner')
                h2(class='title') Skills
                p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                  | opposed to using 'Content here, content here.It is a long established fact that a reader will be
                  | distracted by the readable content of a page when looking at its layout. The point of using Lorem
                  | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                  | content here', making it look like readable English

                // Start skills progress bar
                div(class='skill-progress-bar')
                  span Html5
                  div(class='pro-bar-container color-wisteria')
                    div(class='pro-bar bar-100 color-amethyst', data-pro-bar-percent='100')
                  span css
                  div(class='pro-bar-container color-wisteria')
                    div(class='pro-bar bar-90 color-amethyst' data-pro-bar-percent='90' data-pro-bar-delay='100')
                  span Photoshop
                  div(class='pro-bar-container color-wisteria')
                    div(class='pro-bar bar-80 color-amethyst' data-pro-bar-percent='80' data-pro-bar-delay='200')
                  span Illustrator
                  div(class='pro-bar-container color-wisteria')
                    div(class='pro-bar bar-70 color-amethyst' data-pro-bar-percent='70' data-pro-bar-delay='300')
                  span Wordpress
                  div(class='pro-bar-container color-wisteria')
                    div(class='pro-bar bar-60 color-amethyst' data-pro-bar-percent='60' data-pro-bar-delay='400')
                  span jQuery
                  div(class='pro-bar-container color-wisteria')
                    div(class='pro-bar bar-50 color-amethyst' data-pro-bar-percent='50' data-pro-bar-delay='500')

          // START EXPERIENCE
          section(id='experience')
            div(class='container')
              div(class='experience-inner')
                h2(class='title') Experience
                p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                  | opposed to using 'Content here, content here.It is a long established fact that a reader will be
                  | distracted by the readable content of a page when looking at its layout. The point of using Lorem
                  | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                  | content here', making it look like readable English

                div(id='owl-carousel', class='experience-slider row')
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') January 2013 - Present
                        img(class='activator', src='images/office.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') UX/UI Designer
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') Windows Phone
                      div(class='card-reveal')
                        span(class='card-title reveal-title') UX/UI Designer
                          i(class='material-icons right') close
                        a(href='#' class='card-subtitle') Windows Phone
                        p Here is some more information about this product that is only revealed once clicked on.
                          | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | s opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') January 2013 - Present
                        img(class='activator' src='images/office.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') UX/UI Designer
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') Windows Phone
                      div(class='card-reveal')
                        span(class='card-title reveal-title') UX/UI Designer
                          i(class='material-icons right') close
                        a(href='#' class='card-subtitle') Windows Phone
                        p Here is some more information about this product that is only revealed once clicked on.
                          | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | s opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') January 2013 - Present
                        img(class='activator' src='images/office.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') UX/UI Designer
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') Windows Phone
                      div(class='card-reveal')
                        span(class='card-title reveal-title') UX/UI Designer
                          i(class='material-icons right') close
                        a(href='#' class='card-subtitle') Windows Phone
                        p Here is some more information about this product that is only revealed once clicked on.
                          | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | s opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') January 2013 - Present
                        img(class='activator' src='images/office.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') UX/UI Designer
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') Windows Phone
                      div(class='card-reveal')
                        span(class='card-title reveal-title') UX/UI Designer
                          i(class='material-icons right') close
                        a(href='#' class='card-subtitle') Windows Phone
                        p Here is some more information about this product that is only revealed once clicked on.
                          | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | s opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') January 2013 - Present
                        img(class='activator' src='images/office.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') UX/UI Designer
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') Windows Phone
                      div(class='card-reveal')
                        span(class='card-title reveal-title') UX/UI Designer
                          i(class='material-icons right') close
                        a(href='#' class='card-subtitle') Windows Phone
                        p Here is some more information about this product that is only revealed once clicked on.
                          | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | s opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') January 2013 - Present
                        img(class='activator' src='images/office.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') UX/UI Designer
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') Windows Phone
                      div(class='card-reveal')
                        span(class='card-title reveal-title') UX/UI Designer
                          i(class='material-icons right') close
                        a(href='#' class='card-subtitle') Windows Phone
                        p Here is some more information about this product that is only revealed once clicked on.
                          | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | s opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') January 2013 - Present
                        img(class='activator' src='images/office.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') UX/UI Designer
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') Windows Phone
                      div(class='card-reveal')
                        span(class='card-title reveal-title') UX/UI Designer
                          i(class='material-icons right') close
                        a(href='#' class='card-subtitle') Windows Phone
                        p Here is some more information about this product that is only revealed once clicked on.
                          | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | s opposed to using 'Content here, content here', making it look like readable English

                // Owl navigation
                div(class='customNavigation')
                  a(class='btn prev btn-floating waves-effect waves-light btn-large white')
                    i(class='mdi-navigation-chevron-left brand-text')
                  a(class='btn next btn-floating waves-effect waves-light btn-large white')
                    i(class='mdi-navigation-chevron-right brand-text')

          // START EDUCATION
          section(id='education')
            div(class='container')
              div(class='education-inner')
                h2(class='title') Education
                p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                  | opposed to using 'Content here, content here.It is a long established fact that a reader will be
                  | distracted by the readable content of a page when looking at its layout. The point of using Lorem
                  | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                  | content here', making it look like readable English
                div(id='owl-carousel1', class='experience-slider row')
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') 2012 - 2013
                        img(class='activator', src='images/graduate-cap.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') Master Of Science
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') California University
                      div(class='card-reveal')
                        span(class='card-title reveal-title') Master Of Science
                          i(class='material-icons right') close
                        a(href='#', class='card-subtitle') California University
                        p Here is some more information about this product that is only revealed once clicked on.
                          | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | as opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') 2012 - 2013
                        img(class='activator', src='images/graduate-cap.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') Master Of Science
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') California University
                      div(class='card-reveal')
                        span(class='card-title reveal-title') Master Of Science
                          i(class='material-icons right') close
                        a(href='#', class='card-subtitle') California University
                        p Here is some more information about this product that is only revealed once clicked on.
                          | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | as opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') 2012 - 2013
                        img(class='activator', src='images/graduate-cap.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') Master Of Science
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') California University
                      div(class='card-reveal')
                        span(class='card-title reveal-title') Master Of Science
                          i(class='material-icons right') close
                        a(href='#', class='card-subtitle') California University
                        p Here is some more information about this product that is only revealed once clicked on.
                          | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | as opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') 2012 - 2013
                        img(class='activator', src='images/graduate-cap.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') Master Of Science
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') California University
                      div(class='card-reveal')
                        span(class='card-title reveal-title') Master Of Science
                          i(class='material-icons right') close
                        a(href='#', class='card-subtitle') California University
                        p Here is some more information about this product that is only revealed once clicked on.
                          | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | as opposed to using 'Content here, content here', making it look like readable English
                  // Start Single Experience
                  div(class='col s12')
                    div(class='card')
                      div(class='card-image waves-effect waves-block waves-light')
                        h2(class='experience-title') 2012 - 2013
                        img(class='activator', src='images/graduate-cap.jpg')
                      div(class='card-content')
                        span(class='card-title activator reveal-title') Master Of Science
                          i(class='material-icons right') more_vert
                        p
                          a(href='#') California University
                      div(class='card-reveal')
                        span(class='card-title reveal-title') Master Of Science
                          i(class='material-icons right') close
                        a(href='#', class='card-subtitle') California University
                        p Here is some more information about this product that is only revealed once clicked on.
                          | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                          | as opposed to using 'Content here, content here', making it look like readable English


                // owl navigation
                div(class='customNavigation')
                  a(class='btn prev1 btn-floating waves-effect waves-light btn-large white')
                    i(class='mdi-navigation-chevron-left brand-text')
                  a(class='btn next1 btn-floating waves-effect waves-light btn-large white')
                    i(class='mdi-navigation-chevron-right brand-text')

        // START PORTFOLIO
        section(id='portfolio')
          div(class='portfolio-top')
            div(class='container')
              div(class='portfolio-top-inner')
                h2(class='title') Portfolio
                div(class='controls')
                  button(class='filter waves-effect waves-light btn' data-filter='all') All
                  button(class='filter waves-effect waves-light btn' data-filter='.html') HTMl
                  button(class='filter waves-effect waves-light btn' data-filter='.design') Design
                  button(class='filter waves-effect waves-light btn' data-filter='.fashion') Fashion
          div(class='portfolio-bottom')
            div(class='container')
              div(class='portfolio-bottom-inner')
                div(id='portfolio-list')
                  div(class='mix html', data-value='2')
                    a(href='#')
                      img(src='images/portfolio/html/html-2.jpg', alt='img')
                      i(class='material-icons view-icon') pageview
                  div(class='mix design', data-value='2')
                    a(href='#')
                      img(src='images/portfolio/html/html-2.jpg', alt='img')
                      i(class='material-icons view-icon') pageview
                  div(class='mix html', data-value='2')
                    a(href='#')
                      img(src='images/portfolio/html/html-2.jpg', alt='img')
                      i(class='material-icons view-icon') pageview
                  div(class='mix fashion', data-value='2')
                    a(href='#')
                      img(src='images/portfolio/html/html-2.jpg', alt='img')
                      i(class='material-icons view-icon') pageview
                  div(class='mix design', data-value='2')
                    a(href='#')
                      img(src='images/portfolio/html/html-2.jpg', alt='img')
                      i(class='material-icons view-icon') pageview
                  div(class='mix html', data-value='2')
                    a(href='#')
                      img(src='images/portfolio/html/html-2.jpg', alt='img')
                      i(class='material-icons view-icon') pageview
                  div(class='mix html', data-value='2')
                    a(href='#')
                      img(src='images/portfolio/html/html-2.jpg', alt='img')
                      i(class='material-icons view-icon') pageview
                  div(class='mix design', data-value='2')
                    a(href='#')
                      img(src='images/portfolio/html/html-2.jpg', alt='img')
                      i(class='material-icons view-icon') pageview
                  div(class='mix fashion', data-value='2')
                    a(href='#')
                      img(src='images/portfolio/html/html-2.jpg', alt='img')
                      i(class='material-icons view-icon') pageview

        // START FACTS
        section(id='facts')
          div(class='facts-overlay')
            div(class='container')
              div(class='row')
                div(class='col s12')
                  div(class='facts-inner')
                    div(class='row')
                      div(class='col s12 m4 l4')
                        div(class='single-facts waves-effect waves-block waves-light')
                          i(class='material-icons') work
                          span(class='counter') 329
                          span(class='counter-text') Project Completed

                      div(class='col s12 m4 l4')
                        div(class='single-facts waves-effect waves-block waves-light')
                          i(class='material-icons') supervisor_account
                          span(class='counter') 250
                          span(class='counter-text') Happy Clients

                      div(class='col s12 m4 l4')
                        div(class='single-facts waves-effect waves-block waves-light')
                          i(class='material-icons') redeem
                          span(class='counter') 69
                          span(class='counter-text') Award Won

        // TESTIMONIAL
        section(id='testimonial')
          div(class='container')
            div(class='row')
              div(class='col s12')
                div(class='testimonial-inner')
                  h2(class='title') Testimonial
                  p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                    | opposed to using 'Content here, content here.It is a long established fact that a reader will be
                    | distracted by the readable content of a page when looking at its layout. The point of using Lorem
                    | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                    | here, content here', making it look like readable English.
                  // Start Testimonial Slider
                  div(class='testimonial-slider-area')
                    div(id='owl-carousel2', class='testimonial-slider row')
                      div(class='col s12')
                        div(class='single-testimonial')
                          div(class='testimonial-img')
                            img(src='images/profile-img.jpg', alt='img')
                          div(class='testimonial-content')
                            h3 Mike Jones
                            span CEO, Google Inc.
                            p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                              | letters, as opposed to using 'Content here, content here.It is a long established fact
                              | that a reader will be distracted by the readable content of a page when looking at its
                              | layout"
                      div(class='col s12')
                        div(class='single-testimonial')
                          div(class='testimonial-img')
                            img(src='images/profile-img.jpg', alt='img')
                          div(class='testimonial-content')
                            h3 Mike Jones
                            span CEO, Google Inc.
                            p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                              | letters, as opposed to using 'Content here, content here.It is a long established fact
                              | that a reader will be distracted by the readable content of a page when looking at its
                              | layout"
                      div(class='col s12')
                        div(class='single-testimonial')
                          div(class='testimonial-img')
                            img(src='images/profile-img.jpg', alt='img')
                          div(class='testimonial-content')
                            h3 Mike Jones
                            span CEO, Google Inc.
                            p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                              | letters, as opposed to using 'Content here, content here.It is a long established fact
                              | that a reader will be distracted by the readable content of a page when looking at its
                              | layout"
                      div(class='col s12')
                        div(class='single-testimonial')
                          div(class='testimonial-img')
                            img(src='images/profile-img.jpg', alt='img')
                          div(class='testimonial-content')
                            h3 Mike Jones
                            span CEO, Google Inc.
                            p "The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                              | letters, as opposed to using 'Content here, content here.It is a long established fact
                              | that a reader will be distracted by the readable content of a page when looking at its
                              | layout"

                    div(class='customNavigation')
                      a(class='btn prev2 btn-floating waves-effect waves-light btn-large white')
                        i(class='mdi-navigation-chevron-left brand-text')
                      a(class='btn next2 btn-floating waves-effect waves-light btn-large white')
                        i(class='mdi-navigation-chevron-right brand-text')

        // START BLOG
        section(id='blog')
          div(class='container')
            div(class='row')
              div(class='col s12')
                div(class='blog-inner')
                  h2(class='title') Blog
                  p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                    | opposed to using 'Content here, content here.It is a long established fact that a reader will be
                    | distracted by the readable content of a page when looking at its layout. The point of using Lorem
                    | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                    | here, content here', making it look like readable English.

                  // Start Blog area
                  div(class='blog-area')
                    div(class='row')
                      // Start single blog post
                      div(class='col s12 m4 l4')
                        div(class='blog-post')
                          div(class='card')
                            div(class='card-image')
                              img(src='images/blog1.jpg')
                            div(class='card-content blog-post-content')
                              h2
                                a(href='blog-single.html') Awesome Post Title
                              div(class='meta-media')
                                div(class='single-meta')
                                  | Post By
                                  |
                                  a(href='#') Admin
                                div(class='single-meta')
                                  | Category :
                                  |
                                  a(href='#') Web/Design

                              p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                | letters, as opposed to using 'Content here, content here.
                            div(class='card-action')
                              a(class='post-comment' href='#')
                                i(class='material-icons') comment
                                span 15
                              a(class='readmore-btn' href='blog-single.html') Read More
                      // Start single blog post
                      div(class='col s12 m4 l4')
                        div(class='blog-post')
                          div(class='card')
                            div(class='card-image')
                              img(src='images/blog1.jpg')
                            div(class='card-content blog-post-content')
                              h2
                                a(href='blog-single.html') Awesome Post Title
                              div(class='meta-media')
                                div(class='single-meta')
                                  | Post By
                                  |
                                  a(href='#') Admin
                                div(class='single-meta')
                                  | Category :
                                  |
                                  a(href='#') Web/Design

                              p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                | letters, as opposed to using 'Content here, content here.
                            div(class='card-action')
                              a(class='post-comment' href='#')
                                i(class='material-icons') comment
                                span 15
                              a(class='readmore-btn' href='blog-single.html') Read More
                      // Start single blog post
                      div(class='col s12 m4 l4')
                        div(class='blog-post')
                          div(class='card')
                            div(class='card-image')
                              img(src='images/blog1.jpg')
                            div(class='card-content blog-post-content')
                              h2
                                a(href='blog-single.html') Awesome Post Title
                              div(class='meta-media')
                                div(class='single-meta')
                                  | Post By
                                  |
                                  a(href='#') Admin
                                div(class='single-meta')
                                  | Category :
                                  |
                                  a(href='#') Web/Design

                              p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                | letters, as opposed to using 'Content here, content here.
                            div(class='card-action')
                              a(class='post-comment' href='#')
                                i(class='material-icons') comment
                                span 15
                              a(class='readmore-btn' href='blog-single.html') Read More

                    // All Post Button
                    a(class='waves-effect waves-light btn-large allpost-btn' href='blog-archive.html') All Post

        // START FOOTER
        footer(id='footer', role='contentinfo')
          // Start Footer Top
          div(class='footer-top')
            div(class='container')
              div(class='row')
                div(class='col s12')
                  div(class='footer-top-inner')
                    h2(class='title') Contact
                    p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                      | opposed to using 'Content here, content here.It is a long established fact that a reader will be
                      | distracted by the readable content of a page when looking at its layout. The point of using Lorem
                      | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                      | here, content here', making it look like readable English.
                    div(class='contact')
                      div(class='row')
                        div(class='col s12 m6 l6')
                          div(class='contact-form')
                            form
                              div(class='input-field')
                                input(type='text' class='input-box' name='contactName' id='contact-name')
                                label(class='input-label' for='contact-name') Name
                              div(class='input-field')
                                input(type='email' class='input-box' name='contactEmail' id='email')
                                label(class='input-label' for='email') Email
                              div(class='input-field')
                                input(type='text' class='input-box' name='contactSubject' id='subject')
                                label(class='input-label' for='subject') Subject
                              div(class='input-field textarea-input')
                                textarea(class='materialize-textarea' name='contactMessage' id='textarea1')
                                label(class='input-label' for='textarea1') Message
                              button(class='left waves-effect btn-flat brand-text submit-btn' type='submit')
                                | Envoyer
                        div(class='col s12 m6 l6')
                          div(class='contact-map')
                            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.297314036103!2d-86.74954699999999!3d34.672444999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88626565a94cdb25%3A0x74c206053b6a97c9!2s305+Intergraph+Way%2C+Madison%2C+AL+35758%2C+USA!5e0!3m2!1sen!2sbd!4v1431591462160',
                            width='100%', height='100%', frameborder='0', style='border:0')
          // Start Footer Bottom
          div(class='footer-bottom')
            div(class='container')
              div(class='row')
                div(class='col s12')
                  div(class='footer-inner')
                    // Bottom to Up Btn
                    button(class='btn-floating btn-large up-btn')
                      i(class='mdi-navigation-expand-less')
                    p(class='design-info')
                      | © 2018 B. PERRAUD - Tous droits réservés
                      br
                      | Design par
                      |
                      a(href='http://www.markups.io/')
                      |
                      | MarkUps.io

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='javascripts/materialize.min.js')
    script(src='javascripts/appear.min.js')
    script(src='javascripts/pro-bars.min.js')
    script(src='javascripts/owl.carousel.min.js')
    script(src='http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js')
    script(src='javascripts/waypoints.min.js')
    script(src='javascripts/jquery.counterup.min.js')
    script(src='javascripts/custom.js')
