@use "../styles/colors";
@use "../styles/mixins";

.navbarFixed {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  //  height: 56px;
  //
  //  // Small devices (landscape phones, 576px and up)
  //  @media (min-width: 576px) {
  //    height: 64px;
  //  }

  &:global(.navbar-dark) :global(.navbar-nav) :global(.nav-link).navbarLink,
  .navbarPortfolioContainer
  {
    position: relative;
    width: fit-content;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      width: auto;
    }
  }

  :global(.navbar-brand) {
    transition: all 200ms ease;

    &:hover {
      color: colors.$accent-light;
    }
  }
}

.navbarToggle {
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;

  &:focus, &:active {
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  &:hover {
    > .navbarMenuIcon > g {
      stroke: colors.$accent-light;
    }
  }

  > .navbarMenuIcon {
    max-width: 24px;

    > g {
      transition: all 200ms ease;
    }
  }
}