@use "../../styles/colors";

.main {
  width: 210mm;
  //height: 297mm;
  display: flex;
  //background-color: rgba(255, 255, 255, 0.78);


  @media print {
    display: block;
  }

  .ribbon {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  /*  .ribbonLineContainer {
      position: absolute;
      top: 297mm;
      height: 297mm;
      //overflow: hidden;
    }

    .ribbonLine {
      position: absolute;
      //top: 297mm;
    }*/


  .leftCol {
    display: block;
    vertical-align: top;
    width: calc(.35 * 210mm);
    //height: 297mm;
    background-color: colors.$primary;
    padding: .5cm;

    @media print {
      position: absolute;
      top: 0;
      left: 0;
      height: 400mm;
    }

    .profileImg {
      display: block;
      width: calc(50% + .5cm);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: .7cm;
    }

    .leftColSection {
      padding-left: .2cm;
      width: 100%;
      color: colors.$almost-white;

      &:not(:last-of-type)::after {
        margin-bottom: 1rem;
        display: block;
        content: "";
        width: 75%;
        border-bottom: 1px solid #ffffff;
      }

      > h2 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;

        > span:nth-child(1) {
          font-size: 28px;
          font-weight: 600;
        }
      }
    }
  }

  .rightCol {
    display: block;
    vertical-align: top;
    position: relative;
    width: calc(.65 * 210mm);
    //background-color: rgba(196, 255, 190, 0.2);
    padding: .5cm .5cm .5cm .7cm;
    color: colors.$almost-black;

    @media print {
      top: 0;
      left: 35%;
    }

    .topHexas {
      position: absolute;
      top: .5cm;
      right: .8cm;
    }

    ul.externalLinks {
      position: absolute;
      top: .51cm;
      right: .5cm;
      display: flex;
      flex-direction: column;
      color: colors.$almost-black;
      list-style: none;
      padding-left: 0;

      > li {
        display: flex;
        align-items: center;
        margin-bottom: .1cm;

        > a {
          flex-grow: 1;
          margin-left: .1cm;
          font-size: 14px;
          color: inherit;
          text-align: left;
        }
      }
    }

    .headerName {
      font-family: 'Raleway', sans-serif;
      font-size: 32px;
      margin: 0;
    }

    .headerTitle {
      font-family: 'Raleway', sans-serif;
      font-size: 28px;
      margin: 0;
      color: colors.$primary;
    }

    .wisdomQuote {
      font-size: 14px;
      margin-top: .3cm;
      margin-bottom: 0;
      color: colors.$light-black;
    }

    .wisdomQuoteSrc {
      font-size: 14px;
      text-align: left;
      color: colors.$light-black;

      &::before {
        content: '— ';
      }
    }

    .rightColSection {
      padding-left: 0;
      width: 100%;
      color: colors.$almost-black;

      > h2 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;

        > span:nth-child(1) {
          font-size: 28px;
          font-weight: 600;
        }
      }
    }
  }

  .infoAside {
    position: fixed;
    top: 24px;
    left: calc(210mm + 24px);
    padding: 12px;
    border-radius: 4px;
    background-color: colors.$almost-white;

    @media print {
      display: none;
    }

    > div {

      > button {
        margin-top: 8px;
        margin-right: 8px;
      }
    }
  }
}