section(id='education')
  div(class='container')
    div(class='education-inner')
      h2(class='title') Education
      p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        | opposed to using 'Content here, content here.It is a long established fact that a reader will be
        | distracted by the readable content of a page when looking at its layout. The point of using Lorem
        | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        | content here', making it look like readable English
      div(id='owl-carousel1', class='experience-slider row')
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') 2012 - 2013
              img(class='activator', src='images/graduate-cap.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') Master Of Science
                i(class='material-icons right') more_vert
              p
                a(href='#') California University
            div(class='card-reveal')
              span(class='card-title reveal-title') Master Of Science
                i(class='material-icons right') close
              a(href='#', class='card-subtitle') California University
              p Here is some more information about this product that is only revealed once clicked on.
                | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | as opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') 2012 - 2013
              img(class='activator', src='images/graduate-cap.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') Master Of Science
                i(class='material-icons right') more_vert
              p
                a(href='#') California University
            div(class='card-reveal')
              span(class='card-title reveal-title') Master Of Science
                i(class='material-icons right') close
              a(href='#', class='card-subtitle') California University
              p Here is some more information about this product that is only revealed once clicked on.
                | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | as opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') 2012 - 2013
              img(class='activator', src='images/graduate-cap.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') Master Of Science
                i(class='material-icons right') more_vert
              p
                a(href='#') California University
            div(class='card-reveal')
              span(class='card-title reveal-title') Master Of Science
                i(class='material-icons right') close
              a(href='#', class='card-subtitle') California University
              p Here is some more information about this product that is only revealed once clicked on.
                | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | as opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') 2012 - 2013
              img(class='activator', src='images/graduate-cap.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') Master Of Science
                i(class='material-icons right') more_vert
              p
                a(href='#') California University
            div(class='card-reveal')
              span(class='card-title reveal-title') Master Of Science
                i(class='material-icons right') close
              a(href='#', class='card-subtitle') California University
              p Here is some more information about this product that is only revealed once clicked on.
                | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | as opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') 2012 - 2013
              img(class='activator', src='images/graduate-cap.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') Master Of Science
                i(class='material-icons right') more_vert
              p
                a(href='#') California University
            div(class='card-reveal')
              span(class='card-title reveal-title') Master Of Science
                i(class='material-icons right') close
              a(href='#', class='card-subtitle') California University
              p Here is some more information about this product that is only revealed once clicked on.
                | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | as opposed to using 'Content here, content here', making it look like readable English


      // owl navigation
      div(class='customNavigation')
        a(class='btn prev1 btn-floating waves-effect waves-light btn-large white')
          i(class='mdi-navigation-chevron-left brand-text')
        a(class='btn next1 btn-floating waves-effect waves-light btn-large white')
          i(class='mdi-navigation-chevron-right brand-text')
