section#experience
  .container
    .experience-inner
      h2.title Expérience
      p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        | opposed to using 'Content here, content here.It is a long established fact that a reader will be
        | distracted by the readable content of a page when looking at its layout. The point of using Lorem
        | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        | content here', making it look like readable English

      .carousel-container
        #owl-carousel.experience-slider.row
          // Start Single Experience
          .col.s12
            .card
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title January 2013 - Present
                img(class='activator', src='images/office.jpg')
              .card-content
                span.card-title.activator.reveal-title UX/UI Designer
                  i.material-icons.right more_vert
                p
                  a(href='#') Windows Phone
              .card-reveal
                span.card-title.reveal-title UX/UI Designer
                  i.material-icons.right close
                a(href='#' class='card-subtitle') Windows Phone
                p Here is some more information about this product that is only revealed once clicked on.
                  | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                  | s opposed to using 'Content here, content here', making it look like readable English
          // Start Single Experience
          .col.s12
            .card
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title January 2013 - Present
                img(class='activator' src='images/office.jpg')
              .card-content
                span.card-title.activator.reveal-title UX/UI Designer
                  i.material-icons.right more_vert
                p
                  a(href='#') Windows Phone
              .card-reveal
                span.card-title.reveal-title UX/UI Designer
                  i.material-icons.right close
                a(href='#' class='card-subtitle') Windows Phone
                p Here is some more information about this product that is only revealed once clicked on.
                  | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                  | s opposed to using 'Content here, content here', making it look like readable English
          // Start Single Experience
          .col.s12
            .card
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title January 2013 - Present
                img(class='activator' src='images/office.jpg')
              .card-content
                span.card-title.activator.reveal-title UX/UI Designer
                  i.material-icons.right more_vert
                p
                  a(href='#') Windows Phone
              .card-reveal
                span.card-title.reveal-title UX/UI Designer
                  i.material-icons.right close
                a(href='#' class='card-subtitle') Windows Phone
                p Here is some more information about this product that is only revealed once clicked on.
                  | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                  | s opposed to using 'Content here, content here', making it look like readable English
          // Start Single Experience
          .col.s12
            .card
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title January 2013 - Present
                img(class='activator' src='images/office.jpg')
              .card-content
                span.card-title.activator.reveal-title UX/UI Designer
                  i.material-icons.right more_vert
                p
                  a(href='#') Windows Phone
              .card-reveal
                span.card-title.reveal-title UX/UI Designer
                  i.material-icons.right close
                a(href='#' class='card-subtitle') Windows Phone
                p Here is some more information about this product that is only revealed once clicked on.
                  | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                  | s opposed to using 'Content here, content here', making it look like readable English
          // Start Single Experience
          .col.s12
            .card
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title January 2013 - Present
                img(class='activator' src='images/office.jpg')
              .card-content
                span.card-title.activator.reveal-title UX/UI Designer
                  i.material-icons.right more_vert
                p
                  a(href='#') Windows Phone
              .card-reveal
                span.card-title.reveal-title UX/UI Designer
                  i.material-icons.right close
                a(href='#' class='card-subtitle') Windows Phone
                p Here is some more information about this product that is only revealed once clicked on.
                  | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                  | s opposed to using 'Content here, content here', making it look like readable English
          // Start Single Experience
          .col.s12
            .card
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title January 2013 - Present
                img(class='activator' src='images/office.jpg')
              .card-content
                span.card-title.activator.reveal-title UX/UI Designer
                  i.material-icons.right more_vert
                p
                  a(href='#') Windows Phone
              .card-reveal
                span.card-title.reveal-title UX/UI Designer
                  i.material-icons.right close
                a(href='#' class='card-subtitle') Windows Phone
                p Here is some more information about this product that is only revealed once clicked on.
                  | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                  | s opposed to using 'Content here, content here', making it look like readable English
          // Start Single Experience
          .col.s12
            .card
              .card-image.waves-effect.waves-block.waves-light
                h2.experience-title January 2013 - Present
                img(class='activator' src='images/office.jpg')
              .card-content
                span.card-title.activator.reveal-title UX/UI Designer
                  i.material-icons.right more_vert
                p
                  a(href='#') Windows Phone
              .card-reveal
                span.card-title.reveal-title UX/UI Designer
                  i.material-icons.right close
                a(href='#' class='card-subtitle') Windows Phone
                p.
                  Here is some more information about this product that is only revealed once clicked on.
                  he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                  s opposed to using 'Content here, content here', making it look like readable English

        // Owl navigation
        .custom-navigation
          a.btn.prev.btn-floating.waves-effect.waves-light.btn-large
            i.material-icons keyboard_arrow_left
          a.btn.next.btn-floating.waves-effect.waves-light.btn-large
            i.material-icons keyboard_arrow_right
