section#experience
  .container
    .experience-inner
      h2.title Expérience
      p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        | opposed to using 'Content here, content here.It is a long established fact that a reader will be
        | distracted by the readable content of a page when looking at its layout. The point of using Lorem
        | Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        | content here', making it look like readable English

      div(id='owl-carousel', class='experience-slider row')
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') January 2013 - Present
              img(class='activator', src='images/office.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') UX/UI Designer
                i(class='material-icons right') more_vert
              p
                a(href='#') Windows Phone
            div(class='card-reveal')
              span(class='card-title reveal-title') UX/UI Designer
                i(class='material-icons right') close
              a(href='#' class='card-subtitle') Windows Phone
              p Here is some more information about this product that is only revealed once clicked on.
                | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | s opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') January 2013 - Present
              img(class='activator' src='images/office.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') UX/UI Designer
                i(class='material-icons right') more_vert
              p
                a(href='#') Windows Phone
            div(class='card-reveal')
              span(class='card-title reveal-title') UX/UI Designer
                i(class='material-icons right') close
              a(href='#' class='card-subtitle') Windows Phone
              p Here is some more information about this product that is only revealed once clicked on.
                | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | s opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') January 2013 - Present
              img(class='activator' src='images/office.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') UX/UI Designer
                i(class='material-icons right') more_vert
              p
                a(href='#') Windows Phone
            div(class='card-reveal')
              span(class='card-title reveal-title') UX/UI Designer
                i(class='material-icons right') close
              a(href='#' class='card-subtitle') Windows Phone
              p Here is some more information about this product that is only revealed once clicked on.
                | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | s opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') January 2013 - Present
              img(class='activator' src='images/office.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') UX/UI Designer
                i(class='material-icons right') more_vert
              p
                a(href='#') Windows Phone
            div(class='card-reveal')
              span(class='card-title reveal-title') UX/UI Designer
                i(class='material-icons right') close
              a(href='#' class='card-subtitle') Windows Phone
              p Here is some more information about this product that is only revealed once clicked on.
                | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | s opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') January 2013 - Present
              img(class='activator' src='images/office.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') UX/UI Designer
                i(class='material-icons right') more_vert
              p
                a(href='#') Windows Phone
            div(class='card-reveal')
              span(class='card-title reveal-title') UX/UI Designer
                i(class='material-icons right') close
              a(href='#' class='card-subtitle') Windows Phone
              p Here is some more information about this product that is only revealed once clicked on.
                | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | s opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') January 2013 - Present
              img(class='activator' src='images/office.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') UX/UI Designer
                i(class='material-icons right') more_vert
              p
                a(href='#') Windows Phone
            div(class='card-reveal')
              span(class='card-title reveal-title') UX/UI Designer
                i(class='material-icons right') close
              a(href='#' class='card-subtitle') Windows Phone
              p Here is some more information about this product that is only revealed once clicked on.
                | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | s opposed to using 'Content here, content here', making it look like readable English
        // Start Single Experience
        div(class='col s12')
          div(class='card')
            div(class='card-image waves-effect waves-block waves-light')
              h2(class='experience-title') January 2013 - Present
              img(class='activator' src='images/office.jpg')
            div(class='card-content')
              span(class='card-title activator reveal-title') UX/UI Designer
                i(class='material-icons right') more_vert
              p
                a(href='#') Windows Phone
            div(class='card-reveal')
              span(class='card-title reveal-title') UX/UI Designer
                i(class='material-icons right') close
              a(href='#' class='card-subtitle') Windows Phone
              p Here is some more information about this product that is only revealed once clicked on.
                | he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                | s opposed to using 'Content here, content here', making it look like readable English

      // Owl navigation
      div(class='customNavigation')
        a(class='btn prev btn-floating waves-effect waves-light btn-large white')
          i.material-icons keyboard_arrow_left
        a(class='btn next btn-floating waves-effect waves-light btn-large white')
          i.material-icons keyboard_arrow_right
