section#skill
  .container
    .skill-inner
      h2.title Compétences
      p.
        Au cours de mes études et expériences professionnelles, j'ai acquis
        des compétences variées permettant de m'adapter à un certain nombre
        de situations et contextes. Toutefois, au-delà des compétences
        évoquées ci-dessous, j'ai surtout appris à m'organiser, à faire
        des recherches pour éviter de "réinventer la roue" et à m'adapter
        à un contexte mouvant à court terme (en #[span.it start-up] notamment).
        En soi, à faire preuve de la plus importante des méta-compétences :
        #[em "apprendre à apprendre"].

      .container
        .row
          // Game Design & Design général
          .col.s12.m12.l12
            h3.subtitle Game Design & Design général
            .skill-progress-bar
              .pro-bar-container.color-wisteria
                .pro-bar.bar-90.color-amethyst(data-pro-bar-percent='90', data-pro-bar-delay='100')
                span.label(data-percent='90') Game design : #[span.light Unity]
              .pro-bar-container.color-wisteria
                .pro-bar.bar-80.color-amethyst(data-pro-bar-percent='80', data-pro-bar-delay='200')
                span.label(data-percent='80') Sound design : #[span.light Wwise, Ableton, Audacity]
              .pro-bar-container.color-wisteria
                .pro-bar.bar-70.color-amethyst(data-pro-bar-percent='70', data-pro-bar-delay='300')
                span.label(data-percent='70') UX design
              .pro-bar-container.color-wisteria
                .pro-bar.bar-70.color-amethyst(data-pro-bar-percent='70', data-pro-bar-delay='300')
                span.label(data-percent='70') Design graphique : #[span.light Illustrator, InDesign, Photoshop]
          // Informatique
          .col.s12.m12.l12
            h3.subtitle Informatique
            .skill-progress-bar
              .pro-bar-container.color-wisteria
                .pro-bar.bar-100.color-amethyst(data-pro-bar-percent='100')
                span.label(data-percent='100') Stack MEAN : #[span.light MongoDB, Express.js, Angular 7, Node.js]
              .pro-bar-container.color-wisteria
                .pro-bar.bar-90.color-amethyst(data-pro-bar-percent='90', data-pro-bar-delay='100')
                span.label(data-percent='90') Stack LAMP/WAMP : #[span.light Linux, Apache, MySQL, PHP]
              .pro-bar-container.color-wisteria
                .pro-bar.bar-80.color-amethyst(data-pro-bar-percent='80', data-pro-bar-delay='200')
                span.label(data-percent='80') Android, AngularJS, Java, C++, C#, jQuery
              .pro-bar-container.color-wisteria
                .pro-bar.bar-70.color-amethyst(data-pro-bar-percent='70', data-pro-bar-delay='300')
                span.label(data-percent='70') Vue.js, C, VB/VBA, Oracle SQL, G Suite, Wordpress
          // Gestion de projet
          .col.s12.m12.l12
            h3.subtitle Gestion de projet
            .skill-progress-bar
              .pro-bar-container.color-wisteria
                .pro-bar.bar-100.color-amethyst(data-pro-bar-percent='100')
                span.label(data-percent='100') Méthodes agiles (type SCRUM)
              .pro-bar-container.color-wisteria
                .pro-bar.bar-90.color-amethyst(data-pro-bar-percent='90', data-pro-bar-delay='100')
                span.label(data-percent='90') Intégrations Slack, Gantt, SWOT
              .pro-bar-container.color-wisteria
                .pro-bar.bar-80.color-amethyst(data-pro-bar-percent='80', data-pro-bar-delay='200')
                span.label(data-percent='80') Trello, Teamwork
