$primary: #441517;
$secondary: #8e2621;
$danger: #b63d2a;
$accent-color: $secondary;
$accent-light: #dc544e;
$almost-black: #181818;
$almost-white: #fafafa;
$light-black: #3e3e3e;
$light-gray: #acacac;
$bg-light-gray: #efefef;
$primary-dark: #1b0c0d;
