@use "sass:list";
@use "colors";
@import "./custom-bootstrap.scss"; // Import custom Bootstrap styling

html, body, :root {
  overflow-x: hidden;
  //scroll-behavior: auto; // To prevent gsap conflicts, restore when HomePage.handleLinkClick scrolls w/ gsap
  scroll-behavior: smooth;
}

.section-container-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.almost-black {
  color: colors.$almost-black;
}

.it {
  font-style: italic;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

h2:not(.no-uppercase):not(.default-h2) {
  text-transform: uppercase;
  font-size: 2.5rem;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    font-size: 2.5rem;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: 3rem;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 3.5rem;
  }
}

a {
  text-decoration: none;
  color: colors.$secondary;
}

$section-handle-offsets: 540px 720px 960px 1140px 1320px;
@function calc-section-handle-offsets-lg($container-width) {
  @return calc((100% - #{$container-width}) / 2 + (#{$container-width} / 6) + 1.5rem / 2);
}

@function calc-section-handle-offsets($container-width) {
  @return calc((100% - #{$container-width}) / 2 + 1.5rem / 2);
}

.section-handle {
  position: absolute;
  left: .75rem;
  top: -16px;

  &.gray {
    fill: colors.$bg-light-gray;
  }

  &.white {
    fill: colors.$almost-white;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    left: calc-section-handle-offsets(list.nth($section-handle-offsets, 1));
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    left: calc-section-handle-offsets(list.nth($section-handle-offsets, 2));
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    left: calc-section-handle-offsets-lg(list.nth($section-handle-offsets, 3));
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    left: calc-section-handle-offsets-lg(list.nth($section-handle-offsets, 4));
  }

  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    left: calc-section-handle-offsets-lg(list.nth($section-handle-offsets, 5));
  }
}

.section-handle-reverse {
  position: absolute;
  right: .75rem;
  top: 0;
  transform: scale(-1);

  &.gray {
    fill: colors.$almost-white;
  }

  &.white {
    fill: colors.$bg-light-gray;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    right: calc-section-handle-offsets(list.nth($section-handle-offsets, 1));
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    right: calc-section-handle-offsets(list.nth($section-handle-offsets, 2));
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    right: calc-section-handle-offsets-lg(list.nth($section-handle-offsets, 3));
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    right: calc-section-handle-offsets-lg(list.nth($section-handle-offsets, 4));
  }

  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    right: calc-section-handle-offsets-lg(list.nth($section-handle-offsets, 5));
  }
}

