@use "../styles/colors";
@use "../styles/mixins";

@mixin home-cta {
  font-size: 1rem;
  padding: .5rem 1.5rem;
  border-radius: 0.2rem;

  &:focus {
    box-shadow: none;
  }
}

.homeH3 {
  text-transform: uppercase;
  font-size: 2rem;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    font-size: 2rem;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 2.75rem;
  }
}

.downloadResumeBtn {
  @include home-cta;
  @include mixins.btn-secondary-hover-bg;
}

.downloadResumeSkillsSectionBtn {
  &:focus {
    box-shadow: none;
  }
}

.banner {
  @include mixins.bg-image;
  color: colors.$almost-white;
}

.bannerOverlay {
  background: rgba(0, 0, 0, .5) 0 0;
}

.bannerInfo {
  font-size: 1.1rem;
}

.bannerCta {
  @include home-cta;
  @include mixins.btn-secondary-hover-bg;
}

.about {
  @include mixins.home-anchor-offset;

  .aboutContainer {
    padding-top: 40px;
    padding-bottom: 40px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .aboutLeftCol {
      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        max-width: 160px;
      }
    }

    .aboutRightCol {
      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        width: calc(100% - 160px);
      }
    }
  }
}

.aboutProfilePicContainer {
  max-width: min(158px, 100%);
  max-height: min(158px, 100%);
}

.wisdomQuote {
  font-size: 1.25rem;
  line-height: 135%;

  //& > footer:global(.blockquote-footer)::after {
  //  content: '';
  //  display: block;
  //  border-bottom: 2px solid colors.$primary;
  //  padding-top: .5rem;
  //  width: 60%;
  //  max-width: 400px;
  //  margin: auto;
  //}
}

.personalQuote {
  font-size: 1rem;
  border-left: .25rem solid colors.$primary;
}

.aboutLinkContainer {
  & > img {
    //display: inline-block;
    display: none;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }

  & > a {
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
    height: 28px;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      line-height: inherit;
      height: auto;
    }
  }
}

.portfolio {
  padding-bottom: 30px;
  @include mixins.home-anchor-offset;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    padding-bottom: 60px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    padding-bottom: 100px;
  }
}

.portfolioTop {
  @include mixins.bg-image;
}

.portfolioOverlay {
  padding-top: 60px;
  padding-bottom: 20px;
  @include mixins.bg-overlay;
}

.portfolioFilterBtn {
  border: none;
  outline: none;
  box-shadow: none;
  color: colors.$primary;
  background-color: colors.$almost-white;
  padding-top: 0.45rem;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &:hover,&:active, &:focus {
    background-color: colors.$secondary;
  }
}

.portfolioFilterBtnActive {
  color: colors.$almost-white;
  background-color: colors.$secondary;
}

:global(a).portfolioCard {
  cursor: pointer;
  border: none;
  padding: 2px 8px;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    padding: 4px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    padding: 8px;
  }

  .portfolioCardContents {
    border-radius: 0.25rem;
    background-color: colors.$bg-light-gray;
    transition: background-color 200ms ease-out;
  }

  .portfolioCardImgWrapper {
    position: relative;
    min-width: 120px;
    width: 120px;
    min-height: 90px;
    height: 90px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      width: 100%;
      height: calc(.75 * (270px - 8px));
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      height: calc(.75 * (240px - 16px));
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      height: calc(.75 * (319.98px - 16px));
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      height: calc(.75 * (253.33px - 16px));
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
      height: calc(.75 * (293.33px - 16px)); // Twice the padding
    }
  }

  .portfolioCardImg {
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    object-fit: cover;
    object-position: center;
    height: 100%;
    transition: all 150ms ease-in-out;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      border-radius: 0.25rem 0.25rem 0 0;
    }
  }

  .portfolioCardInfo {
    padding: 8px 16px;
    font-size: 1rem;
    width: calc(100% - 120px);
    color: colors.$almost-black;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      font-size: .9rem;
      width: auto;
      height: calc(.25 * (270px - 8px));
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      height: calc(.25 * (240px - 16px));
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      height: calc(.25 * (319.98px - 16px));
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      height: calc(.25 * (253.33px - 16px));
      font-size: .95rem;
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
      height: calc(.25 * (293.33px - 16px));
      font-size: 1rem;
    }
  }

  .portfolioCardTitle {
    font-size: 1em;
    line-height: 1.5;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      line-height: 110%;
    }
  }

  .portfolioCardSubTitle {
    line-height: 125%;
  }

  .portfolioCardGoToIcon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 0;
    height: 20px;
  }

  &:hover {
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      .portfolioCardInfo {
        color: colors.$almost-white;
      }

      .portfolioCardContents {
        background-color: colors.$primary;
      }
    }
  }
}


.resumeSection {
  @include mixins.home-anchor-offset;

  :global(.resume-dark-text) {
    color: colors.$light-black;
  }

  .resumeHeader {
    @include mixins.bg-image;

    .resumeHeaderOverlay {
      padding-top: 60px;
      padding-bottom: 20px;
      @include mixins.bg-overlay;
    }
  }

  .proBarContainer {
    $pro-bar-height: 42px;
    $pro-bar-height-md: 30px;
    height: $pro-bar-height;

    border: 2px solid colors.$primary;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      height: $pro-bar-height-md;
    }

    :global(.pro-bar) {
      background-color: colors.$primary;
      top: -2px;
      position: absolute;
      height: inherit;
    }

    :global(.label) {
      top: 50%;
      transform: translateY(-50%);
      font-size: .75rem;

      color: colors.$almost-white;

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
        font-size: .8rem;
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        font-size: 1rem;
      }

      :global(.value) {
        font-weight: 400;
        display: block;
        color: transparentize(colors.$almost-white, 0.2);

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
          display: inline;
        }
      }
    }
  }
}

.skillSectionContainer {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: colors.$bg-light-gray;
}

.experienceSectionContainer {
  background-color: colors.$almost-white;
  padding-top: 60px;
  padding-bottom: 60px;

  :global(.illus-container) {
    width: 192px;
    margin-top: 5px;
    margin-right: 12px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      width: 128px;
      margin-top: 6px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      width: 170px;
    }
  }

  :global(.illus) {}

  :global(.xpDetailContainer) {
    margin-top: 0;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      margin-top: 20px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      margin-top: 40px;
    }

    :global(.place) {
      font-size: 1.1rem;
      font-family: 'Raleway', sans-serif;
    }

    :global(.xpDetail) {
      display: none;
    }
  }
}

.xpTimelineSvg {
  transform-origin: right top;
  //width: fit-content;
  //height: fit-content;
  //max-width: min(110px, 100%);
  width: 100%;
  max-width: 100%;
  height: 380px;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    width: 110px;
    height: auto;
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 120px;
  }

  :global(.xp-timeline_svg__date-node), :global(.xp-timeline_svg__current-node) {
    cursor: pointer;
  }
}

.studiesTimelineSvg {
  transform-origin: right top;
  //width: fit-content;
  //height: fit-content;
  //max-width: min(110px, 100%);
  width: 100%;
  max-width: 100%;
  height: 380px;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    width: 110px;
    height: auto;
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 120px;
  }

  :global(.studies-timeline_svg__date-node), :global(.studies-timeline_svg__current-node) {
    cursor: pointer;
  }
}

.contentSep {
  width: 30%;
  height: 0;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-bottom: 2px solid colors.$primary;
}

.studiesSectionContainer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: colors.$bg-light-gray;

  :global(.school) {
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
  }

  :global(.desc) {

  }

  :global(.illus-container) {
    width: 192px;
    margin-top: 5px;
    margin-right: 12px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      width: 128px;
      margin-top: 6px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      width: 170px;
    }
  }

  :global(.illus) {}

  :global(.studiesDetailContainer) {
    margin-top: 0;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      margin-top: 20px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      margin-top: 40px;
    }

    :global(.studiesDetail) {
      display: none;
    }
  }
}
